.leftBar{
    height: 20px;
    display: flex;
    flex-flow: nowrap;
    justify-content: left;
    align-items: center;
    padding: 20px 15%;
}
a{
    margin-right: 15px;
    text-decoration-line: none;
    /* color:rgba(64, 158, 255, 0.6); */
    color: #909399;
}
a:hover{
    color: rgb(64, 158, 255);
}
.active{
    color: rgb(64, 158, 255);
}